---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" 
style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ page.title }}</h1>
            {% if page.description %}
            <span class="subheading">{{ page.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>
  {% if page.image %}
  
  {% endif %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">



      
<div class=row>
  <div class="col-lg-6">
          <img class="img-fluid rounded mb-4" src="{{page.image-author}}" alt="">
              <!-- Contact Details Column -->
      <div class="col-lg-8 mb-4">
        <h3>indirizzo</h3>
        <p>
          <br>{{page.address1 | strip_html}} 
          <br>{{page.zip| strip_html}} {{page.address2 | strip_html}} {{page.provincia| strip_html}} {{page.country | strip_html}}
        </p>
        <p>
          <abbr title="telefono">telefono</abbr>: {{page.phone| strip_html}}
        </br>
          <abbr title="cellulare">cellulare</abbr>: {{page.mobile| strip_html}}
  
        </p>
        <div class="container-full">
          <div class="row">
          <p>
            <abbr title="orari">orari</abbr>: {{page.orari}}
            </br>
           <abbr title="email">email</abbr>:
           <a href="mailto:{{page.email}}">{{page.email| strip_html}}
            </a>
           </br>
           <abbr title="pec">pec</abbr>:
           <a href="mailto:{{page.pec}}">{{page.pec| strip_html}}
           </a>
          </p>
          </div>
          </div>
  
      </div>
  
        </div>
        <div class="col-lg-6">
          <h2>Perito Agrario</h2>
          <h2>{{page.author}}</h2>
          {{ content }} 
          <h4>Attività agricole professionali prevalenti</h4>



<ul>
{% for category in page.categories %}
<li>

  {{ category }}

</li>
{% endfor %}
</ul>

  </div>
  </div>
  <div class="container">
  

  
    <!-- Content Row -->
    <div class="row">


        <!-- Embedded Google Map -->
        <div class="embed-responsive embed-responsive-16by9">
          <iframe 
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1487.1700124226586!2d12.670593!3d41.799435!3m2!1i1024!2i768!4f13.1!4m3!3e0!4m0!4m0!5e0!3m2!1sit!2sit!4v1580198543676!5m2!1sit!2sit" 
          width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="">
        </iframe>
  
        </div>
       
 
  
      
    </div>
    <!-- /.row -->
  
  
  </div>
  </div>  


      </div>
    </div>
  </div> 
